@font-face {
  font-family: 'EBGaramond';
  src: url('../assets/fonts/EB_Garamond/EBGaramond-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EBGaramond';
  src: url('../assets/fonts/EB_Garamond/EBGaramond-Italic.ttf')
    format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'EBGaramond';
  src: url('../assets/fonts/EB_Garamond/EBGaramond-Medium.ttf')
    format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EBGaramond';
  src: url('../assets/fonts/EB_Garamond/EBGaramond-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../assets/fonts/Quicksand/Quicksand-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../assets/fonts/Quicksand/Quicksand-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../assets/fonts/Quicksand/Quicksand-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../assets/fonts/Quicksand/Quicksand-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-size: 4em;
}

/* Tablet and smaller screens */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 3em;
  }
}

/* Mobile screens */
@media screen and (max-width: 480px) {
  h1 {
    font-size: 2.5em;
  }
}
