@import 'normalize.css';
@import 'fonts.css';

:root {
  font-family: 'EBGaramond', Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* CSS HEX */
  --straw: #dbd56eff;
  --asparagus: #88ab75ff;
  --blue-munsell: #2d93adff;
  --taupe-gray: #7d7c84ff;
  --atomic-tangerine: #de8f6eff;

  /* CSS HSL */
  --straw: hsla(57, 60%, 65%, 1);
  --asparagus: hsla(99, 24%, 56%, 1);
  --blue-munsell: hsla(192, 59%, 43%, 1);
  --taupe-gray: hsla(247, 3%, 50%, 1);
  --atomic-tangerine: hsla(18, 63%, 65%, 1);

  --text-color-primary: #414042;
}

html {
  height: 100%;
}

*,
::after,
::before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul,
li {
  display: block;
  padding: 0px;
  margin: 0px;
}

p,
nav {
  padding: 0;
  margin: 0;
}

main {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

a,
a:hover,
a:active,
a:focus,
button,
input,
button:hover,
button:active,
button:focus,
input:focus,
input:active {
  text-decoration: none;
  outline: none;
}

.clearfix::after {
  display: block;
  clear: both;
  content: '';
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-color-primary);
    background-color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--text-color-primary);
    background-color: #fbf9f9;
  }
}
